.portfolio__container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
  padding: 1rem;
}

.portfolio__item {
  background: var(--white);
  padding: 1.5rem;
  border-radius: 1.8rem;
  border: 1px solid var(--light_gray);
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.05);
  transition: all 0.3s ease-in-out;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.portfolio__item p {
  margin-top: 1rem;
}

.portfolio__item:hover {
  border-color: var(--blue);
  background: var(--light_blue);
  transform: translateY(-5px);
  cursor: pointer;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.08);
}

.portfolio__item-image {
  border-radius: 1.5rem;
  border: 1px solid var(--light_gray);
  overflow: hidden;
  width: 100%;
  aspect-ratio: 1 / 1;
  object-fit: cover;
}

.portfolio__item h3 {
  color: var(--blue);
  margin: 1rem 0 1.5rem;
  font-size: 1.2rem;
  text-align: center;
}

.portfolio__item-cta {
  display: flex;
  justify-content: center;
  gap: 2rem;
  margin-top: auto;
}

/*===== MEDIA QUERIES =====*/
@media screen and (max-width: 1024px) {
  .portfolio__container {
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
  }
}

@media screen and (max-width: 600px) {
  .portfolio__container {
    grid-template-columns: 1fr;
    gap: 1rem;
  }

  .portfolio__item {
    padding: 1rem;
  }

  .portfolio__item h3 {
    font-size: 1rem;
  }
}
