/*Skills Section*/
.skills__container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.5rem;
  padding: 0 3rem;
}

.skills {
  background-color: var(--white);
  border-radius: 1.5rem;
  border: 1px solid var(--light_gray);
  transition: all 0.3s ease;
  overflow: hidden;
}

.skills:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.05);
}

.skills__head {
  background: var(--light_blue);
  padding: 1.5rem 1rem;
  text-align: center;
}

.skills__head h3 {
  color: var(--color-bg);
  font-size: 1.1rem;
  margin: 0;
}

.skills__list {
  padding: 1.5rem;
}

.skills__list li {
  display: flex;
  align-items: start;
  gap: 0.8rem;
  margin-bottom: 0.8rem;
}

.skills__list-icon {
  color: var(--blue);
  margin-top: 4px;
  flex-shrink: 0;
}

.skills__list p {
  font-size: 0.9rem;
  margin: 0;
}

/* ===== MEDIA QUERIES ===== */

/* Medium Devices */
@media screen and (max-width: 1024px) {
  .skills__container {
    grid-template-columns: repeat(2, 1fr);
    padding: 0 2rem;
  }
}

/* Small Devices */
@media screen and (max-width: 600px) {
  .skills__container {
    grid-template-columns: 1fr;
    padding: 0 1rem;
    gap: 1.5rem;
  }
}
