.skills__container {
  display: grid;
  align-items: flex-start;
  grid-template-columns: repeat(3, 1fr);
  gap: 3rem;
}

.skills {
  color: var(--dark_gray);
  background-color: var(--white);
  border-radius: 0 0 2rem 2rem;
  border: 1px solid var(--light_gray);
  height: fit-content;
  transition: var(--transition);
}
.skills:hover {
  background-color: transparent;
  border-color: var(--light_gray);
  cursor: default;
}

.skills__head {
  background: var(--light_blue);
  padding: 2rem;
  border-radius: 0 0 2rem 2rem;
  box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.1);
}
.skills__head h3 {
  color: var(--color-bg);
  font-size: 1rem;
  text-align: center;
}

.skills__list {
  padding: 2rem;
}
.skills__list li {
  display: flex;
  gap: 1rem;
  margin-bottom: 0.8rem;
}
.skills__list-icon {
  color: var(--gray);
  margin-top: 2px;
}
.skills__list p {
  font-size: 0.9rem;
}

/* === ========= MEDIA QUERIES (MEDIUM DEVICES) ==========  */
@media screen and (max-width: 1024px) {
  .skills__container {
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
  }
  .skills {
    height: auto;
  }
}

/* === ========= MEDIA QUERIES (SMALL DEVICES) ==========  */
@media screen and (max-width: 600px) {
  .skills__container {
    grid-template-columns: 1fr;
    gap: 1.5rem;
  }
}
