.container.contact__container {
  width: 58%;
  display: grid;
  grid-template-columns: 30% 58%;
  gap: 12rem;
}

.contact__options {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

.contact__option {
  background: var(--white);
  padding: 1.2rem;
  border-radius: 1.2rem;
  text-align: center;
  border: 0.8px solid var(--light_gray);
  transition: var(--transition);
}

.contact__option:hover {
  background: var(--light_blue);
  border-color: var(--light_gray);
}

.contact__option-icon {
  font-size: 1.5rem;
  color: var(--gray);
  margin-bottom: 0.5rem;
}

.contact__option a {
  margin-top: 0.7rem;
  display: inline-block;
  font-size: 0.8rem;
}

/*=============== FORM ================*/
form {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

input,
textarea {
  width: 100%;
  padding: 1.5rem;
  border-radius: 0.5rem;
  background: var(--white);
  border: 0.8px solid var(--light_gray);
  resize: none;
  color: var(--dark_gray);
}

/*===== MEDIA QUERIES FOR RESPONSIVE DESIGN =====*/
/*===== SMALL DEVICES =====*/
@media screen and (max-width: 600px) {
  .container.contact__container {
    width: var(--container-width-s);
  }
}
/*===== MEDIUME DEVICES =====*/
@media screen and (max-width: 1024px) {
  .container.contact__container {
    grid-template-columns: 1fr;
    gap: 2rem;
    flex-direction: column;
  }
}
